-#  This file is app/views/movies/bydirector.html.haml
%h2 Movies by #{@movie.director} (#{@movie.title}'s director )
%br

%table.table-striped.col-md-10#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        